body {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    max-width: 1800px;
}
a {
    text-decoration: none;
}
header {
    width: 100%;
}
.pageWrapper {
    max-width: 1800px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    background-image: url(./accets/mountains.png);
}
.headerContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
}
.logoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 72px;
    height: 80px;
}
.logo {
    font: bold 30px Titillium Web;
    color: #858688;
}
.violet {
    color: #5b4295;
}
.red {
    color: #fc444b;
}
.languages {
    display: flex;
    flex-direction: row;
    width: 236px;
    justify-content: space-between;
    list-style: none;
    font: 16px Titillium Web;
    color: #959595;
    padding: 0;
}
.languages>a {
    color: #959595;
}
.languages>a:nth-child(odd):hover {
    cursor: pointer;
    font-weight: bold;
}
.languages>a:focus {
    font-weight: bold;
    border-bottom: 1px solid #959595;
}
.menuContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 671px;

    padding: 0;
}
.menuContainer nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 414px;
    width: 100%;
    margin-top: 68px;
}
.menuContainer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 0;
}
.menuContainer ul>li>a {
    font: 16px Titillium Web;
    color: #454545;
}
.menuContainer ul>li>a:hover {
    cursor: pointer;
}

.menuContainer .logContainer {
    display: flex;
    flex-direction: row;
    max-width: 184px;
    width: 100%;
    font-weight: bold;
}
.logContainer>ul>li:nth-child(1) {
    margin-top: 68px;
    font: 16px Titillium Web;
    color: #454545;
    font-weight: bold;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font: 14px Titillium Web;
    border-radius: 20px;
    background: linear-gradient(to right, #582c7e, #917fd5);
    width: 94px;
    height: 40px;
    margin-top: 62px;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0px 10px 20px 0px rgb(107, 107, 166);
    transition: box-shadow 0.05s ease-in-out;
}
.button:active {
    box-shadow: 0px 0px 0px 0px rgb(107, 107, 166),
                inset 0px 3px 5px 2px #3a1958;
    color: rgb(248, 248, 248);
}
.logContainer i {
    color: #582c7e;
    margin-right: 6px;
    cursor: pointer;
}
main {
    width: 100%;
    height: 100%;
}
.centralElementContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    font: 60px Titillium Web;
    justify-content: space-between;
    align-items: center;
    margin-top: 146px;
    margin-bottom: 266px;
}
.centralElementContainer h2 {
    font: 60px Titillium Web;
    color: #454545;
    font-weight: bold;
    margin: 0;
}
.centralElementContainer h4 {
    font: 37px Titillium Web;
    margin: 0;
    line-height: 1;
}
.startButtonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 602px;
    padding: 15px;
    position: relative;
    border-radius: 0 0 50% 25px;
    box-sizing: border-box;
    margin-top: 60px;
}
.startButtonsContainer .button {
    margin: 0;
    z-index: 2;
}
.startButtonsContainer .button:nth-child(1) {
    font-size: 18px;
    font-family: Titillium Web;
    color: #ffffff;
    font-weight: bold;
    width: 246px;
    height: 56px;
    border-radius: 50px;
}
.startButtonsContainer i {
    font-size: 22px;
    color: #ffffff;
}
.startButtonsContainer>div {
    width: 384px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.startButtonsContainer::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0 0 25px 25px;
    z-index: 1;
    background: radial-gradient(ellipse at top, #2a2fd399 0%, #6025c980 10%, #ff000000 70% , #ff000000 100%);
}
.roundButton {
    width: 46px;
    height: 46px;
    border-radius: 50px;
    background: #5f2966;
    opacity: 0.8;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.socialButtonsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: 34px;
    top: 7%;
    height: 108px;
}
.socialButtonsContainer>a {
    cursor: pointer;
    font-size: 22px;
    color: #454545d1;
}
.productBenefitsContainer {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
.productBenefitsContainer>div:nth-child(1) {
    display: flex;
    flex-direction: row;
    font-family: Titillium Web;
    justify-content: space-around;
}
.productBenefitsContainer>div>div {
    display: flex;
    flex-direction: column;
    width: 33.3%
}
.productBenefitsContainer>div div>.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
    color: #555555;
}
.productBenefitsContainer>div div>.title>div>div:nth-child(2) {
    font-size: 18px;
}
.productBenefitsContainer p {
    font-size: 14px;
}
/*.productBenefitsContainer img {
    width: 72px;
    height: 68px;
}*/
.productBenefitsContainer>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-family: Titillium Web;
    color: #535353;
}
.productBenefitsContainer>div:nth-child(2)>span:nth-child(2) {
    font-size: 24px;
    color: #959393;
}
.verticalLine {
    width: 1px;
    background-color: #b9b9b9;
}
.horizontalLine {
    height: 1px;
    width: 150px;
    background-color: #b9b9b9;
}

/*
.NeutronMail_s_infrastructure_resides_in_Europe_ {
  font-size: 24px;
  font-family: "TitilliumWeb";
  color: rgb(149, 147, 147);
  line-height: 0.917;
  position: absolute;
  left: 450.082px;
  top: 1300.984px;
  width: 622px;
  height: 44px;
  z-index: 91;
}

*/